@{
    ViewBag.Title = "Super";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>You need to have all - R  and W and D permission to view this page and the attributes are at the controller level</p>
